doctype html
html
  head
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz' crossorigin='anonymous')
    link(rel='stylesheet' href='/css/styles.css')
    title Register
  body.container-fluid
    if messages.success_msg && messages.success_msg.length > 0
      .alert.alert-success.alert-dismissible(role='alert')
        each msg in messages.success_msg
          p= msg
        button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')

    if messages.error_msg && messages.error_msg.length > 0
      .alert.alert-danger.alert-dismissible(role='alert')
        each msg in messages.error_msg
          p= msg
        button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')

    if messages.error && messages.error.length > 0
      .alert.alert-danger.alert-dismissible(role='alert')
        each msg in messages.error
          p= msg
        button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')

    if errors && errors.length > 0
      .alert.alert-danger.alert-dismissible(role='alert')
        each err in errors
          p= err.msg
        button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
    h1 Register
    a.btn.btn-primary.mt-4(href="/") Home 
    .container.col-xs-12.col.sm-10.col-md-4.col-lg-4.glass
      form(action="/api/users/register" method="post")
        div
          label.form-label(for="email") Email:
          input.form-control(type="email" name="email" id="email" value=email)
        div
          label.form-label(for="password") Password:
          input.form-control(type="password" name="password" id="password")
        div
          label.form-label(for="password2") Confirm Password:
          input.form-control(type="password" name="password2" id="password2")
        div
          label.form-label(for="userType") User Type:
          select(name="userType" id="userType" class="form-select")
            option(value="Patient" selected=(userType==='Patient')) Patient
            option(value="Doctor" selected=(userType==='Doctor')) Doctor
            option(value="Admin" selected=(userType==='Admin')) Admin
        div.d-flex.justify-content-end
          button.btn.btn-primary.mt-4(type="submit") Register
